/* COLORS */

:root {
--white: #ffffff;
--black: #000000;
--primary-grey: #727272;
--secondary-grey: #F7F7F7;
--primary-pink: #ee2655;
--secondary-pink: #ed2e59;
--tertiary-pink: #ed093e;
--quaternary-pink: #d51945;
--primary-yellow: #FFE200;
}